.user
  -if user.icon
    =image_tag(user.icon, :class=>'icon')
  %h2
    =user.name.upcase
  .info_section
    -if user.email
      =mail_to(user.email) do
        .info
          =image_tag('/assets/icons/mail.png')
          .text
            =user.nickname
  %p.body
    =user.profile
  .navigation
    =ajax_link_to("POSTS", user_archive_path(user.nickname))