#header_bar
  =render :partial=>'layouts/header/search'
  #header_bar_inner
    .links
      #header_nav_icon.left
        %span
        %span
        %span
      / #header_app_icon.left
      =render :partial=>'layouts/header/nav_links'
  .header_bar_decoration_1
  .header_bar_decoration_2
  #header_nav_menu
    #header_nav_menu_inner
      =render :partial=>'layouts/header/nav_links'
    .header_bar_decoration_1
    .header_bar_decoration_2