#header_nav
  %button{:id=>"header_search_icon"}
  .header_bar_inner
    .links
      #header_nav_icon.right
        %span
        %span
        %span
      =render :partial=>'layouts/header/nav_links'
  #header_nav_menu
    #header_nav_menu_inner
      =render :partial=>'layouts/header/nav_links'
