#header_search_bar
  %button.search_icon{:id=>"header_search_icon"}
  %form{:id=>"header_search_form", :action=>post_search_path(), :method=>:get}
    %input.search_field.none{:id=>"header_search_field", :type=>:text, :name=>:q, :placeholder=>"Search"}