-if feed_list and feed_list.length > 0
  -feed_list_id = "feed_list_#{feed_list.try(:current_page) ? feed_list.current_page : 1}"
  -next_url = nil
  -next_ajax = nil

  =render partial:'post', :locals=>{:post=>feed_list[0]}

  -if feed_list.try(:next_page)
    -next_url = seo_feed_url(tags, :page=>feed_list.next_page, :price=>price)
    -next_ajax = seo_feed_url(tags, :page=>feed_list.next_page, :price=>price, :format=>:js)

  .feed_list{:id=>feed_list_id, :next_url=>next_url, :next_ajax=>next_ajax}
    -feed_list.each_with_index do |post, i|
      -if i != 0
        =render :partial=>'feed_post', :object=>post
    -(3-feed_list.length%3).times do |spacer|
      .feed_post_spacer

    -if next_url
      -next_url = seo_feed_url(tags, :page=>feed_list.next_page, :price=>price)
      =link_to('More', next_url, 'data-push'=>true, :class=>['more_posts', 'button'])

  :javascript
    $(function(){
      Post.init( $("##{feed_list_id}") );
    })