.feed_post{:id=>"feed_post_#{feed_post.id}"}
  .header
    %h2{:itemprop=>'name'}
      =link_to(feed_post.title, full_post_path(feed_post), 'data-push'=>true)
    .info_section
      .info
        .text
          =feed_post.display_byline
  .body
    =link_to(full_post_path(feed_post), 'data-push'=>true) do
      -if feed_post.cover_photo
        .photo_gallery
          -if feed_post.cover_photo
            =image_tag(feed_post.cover_photo.asset_url, :class=>"photo", :title=>feed_post.title, :alt=>feed_post.title)
      %p.description{:itemprop=>'description'}
        =sanitize(feed_post.display_summary.gsub(/\n/, '<br/>'))
    =render :partial=>'post_tags', :object=>feed_post.tag_names
  =render :partial=>'post_actions', :object=>feed_post, :as=> :post, :locals=>{:is_feed=>true}