.actions
  =link_to(post.display_call_to_action, (post.url == "" ? post_path(post.id, :display_slug=>post.display_slug) : post.url), :class=>['button', 'buy_button'])
  %a.button.share_button
    SHARE
  / %a.button.comment_button
  /   COMMENT
  /   %fb:comments-count.comment_count{:href=>post_url(post.id, :display_slug=>post.display_slug)}
  / .fb-comments{'data-href'=>post_url(post.id, :display_slug=>post.display_slug), 'data-numposts'=>'5', 'data-colorscheme'=>'light', :style=>'display:none;'}