.feed_post{:id=>"feed_post_#{feed_post.id}"}
  .header
    %h1
      =link_to(feed_post.title, post_path(feed_post.id, :display_slug=>feed_post.display_slug), 'data-push'=>true)
    .info_section
      .info
        .text
          =feed_post.ago.capitalize
  .body
    =link_to(post_path(feed_post.id, :display_slug=>feed_post.display_slug), 'data-push'=>true) do
      -if feed_post.cover_photo
        .photo_gallery
          =image_tag(feed_post.cover_photo.remote_url, :class=>"photo")
      %p.description
        =link_to(post_path(feed_post.id, :display_slug=>feed_post.display_slug), 'data-push'=>true) do
          =sanitize(feed_post.summary.gsub(/\n/, '<br/>'))
    =render :partial=>'post_tags', :object=>feed_post.tag_list
  =render :partial=>'feed_post_actions', :object=>feed_post, :as=> :post
  .share_container
    =render :partial=>'share', :object=>feed_post
:javascript
  Post.Init();