-if feed_related and feed_related.length>0
  .feed_related
    %h2.title
      Related items
    .list
      -feed_related.each do |post|
        =render :partial=>"related", :object=>post
      -(4-feed_related.length%4).times do |spacer|
        .related_spacer