.actions
  =link_to(post.display_call_to_action, (post.url == "" ? post_path(post.id, :display_slug=>post.display_slug) : post.url), :class=>['button', 'buy_button'])
  %a.button.share_button
    SHARE