-if navigation.previous || navigation.next
  .navigation
    -if navigation.previous
      =link_to("PREVIOUS", full_post_path(navigation.previous), 'data-push'=>true, :id=>'previous_post')
    -if navigation.next
      =link_to("NEXT", full_post_path(navigation.next), 'data-push'=>true, :id=>'next_post')