-post_id = "post_#{post.id}"
.post{:id=>post_id}
  .header
    %h1
      =post.title
    .info_section
      .info
        .text
          =post.display_byline
  .body
    .photo_gallery
      -post.photos.each do |ph|
        =image_tag(ph.asset_url, :class=>'photo', :title=>ph.name, :alt=>ph.name)
    -if post.summary
      %p.summary
        =post.summary.gsub(/\n/, '<br/>').html_safe
    %p.description
      =post.body.gsub(/\n/, '<br/>').html_safe
    =render :partial=>'post_tags', :object=>post.tag_names
  =render :partial=>'post_actions', :object=>post, :as=>:post
  =render :partial=>'feed_related', :object=>post.related

:javascript
  $(function(){
    Post.init( $("##{post_id}") );
  })