-post_url = post_url(post.id, :display_slug=>post.display_slug)

.actions
  -if post.url != ""
    =link_to(post.display_call_to_action, post.url, :class=>['button', 'buy_button'])
  =link_to("", "http://www.facebook.com/share.php?u=#{post_url}", :class=>["button", "facebook_button"])
  =link_to("", "http://twitter.com/home?status=#{post.title} #{post_url}", :class=>["button", "twitter_button"])