.post{:id=>"post_#{post.id}"}
  .header
    %h1
      =post.title.upcase
    .info_section
      .info
        .text
          =post.ago.capitalize
  .body
    .photo_gallery
      -post.photos.each do |ph|
        =image_tag(ph.remote_url, :class=>'photo')
    %p.description
      =post.body.gsub(/\n/, '<br/>').html_safe
    =render :partial=>'post_tags', :object=>post.tag_list
  =render :partial=>'post_actions', :object=>post, :as=>:post
  .share_container
    =render :partial=>'share', :object=>post
:javascript
  Post.Init();