=link_to(full_post_path(related), 'data-push'=>true) do 
  .related{:id=>"related_#{related.id}"}
    %h3
      =related.title
    -ph = related.cover_photo
    -if ph
      =image_tag(ph.asset_url, :class=>'photo', :title=>ph.name, :alt=>ph.name)