-app_title(@tag.capitalize)

=render :partial=>'tag_cloud', :object=>@tags

#post_feed
  #post_feed_list
    =render :partial=>'feed_list', :locals=>{:feed_list=>@posts, :tag=>@tag}
:javascript
  PostFeed.Init();