-meta_title(@meta_title)
-meta_keywords(@meta_keywords)
-meta_description(@meta_description)

=render :partial=>'tag_cloud', :locals=>{:tags=>@all_tags, :selected=>@selected_tags, :price=>@price}
=render :partial=>'cost_selector', :locals=>{:selected=>@selected_tags, :price=>@price}

-if @posts and @posts.count > 0
  #post_feed
    #post_show
      =render partial:'post', :locals=>{:post=>@posts[0], :hide_related=>true}
    #post_feed_list
      =render :partial=>'feed_list', :locals=>{:feed_list=>@posts, :tags=>@tags, :price=>@price}
  #post_feed_loader
    =render partial: 'layouts/spinner'
-else
  .info_section
    .content
      %h1.title
        No results