-app_title(@post.title)
-meta_description(@post.summary)
-meta_keywords(@post.tags.collect{|x| x.name})

#post_show
  -if @post
    =render partial:'post', object:@post
  -else
    .placeholder
      No content