-meta_title(@meta_title)
-meta_keywords(@meta_keywords)
-meta_description(@meta_description)

#post_show
  -if @post
    =render :partial=>'post', :locals=>{:post=>@post, :show_related=>true}
  -else
    .placeholder
      No content