@import '_colors';
@import '_constants';
@import '_fonts';

@keyframes AnimRollDown {
	from{
		transform: translateY(-100%);
	}
  to{
  	transform: translateY(0%);
  }
}

@keyframes AnimRollUp {
    from{
      transform: translateY(0%);
    }
    to{
      transform: translateY(-100%);
    }
}

@keyframes AnimFadeIn {
	from{
		opacity: 0;
	}
  to{
  	opacity: 1;
  }
}

@keyframes AnimFadeOut {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.anim_roll_down{
	-webkit-animation: AnimRollDown 0.3s;
	animation-name: AnimRollDown;
  animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.anim_fade_in{
	-webkit-animation: AnimFadeIn 0.7s;
	animation-name: AnimFadeIn;
  animation-duration: 0.7s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
  opacity: 0;
}

$anim_fade_out_duration: 0.75s;
.anim_fade_out{
  -webkit-animation: AnimFadeOut 0.7s;
  animation-name: AnimFadeOut;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 1;
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}