$base_color: #1F1F1F;

$highlight_color: #0099cc;
$highlight_color_dark: #006699;

$subtle_gray: #b0b0b0;
$subtle_gray_dark: #909090;

$spacer_gray: rgba(25, 25, 25, 0.5);
$shadow_gray: rgba(0, 0, 0, 0.15);

$light_gray: #f0f0f0;
$medium_gray: #707070;
$dark_gray: #303030;

$dark_brown: #2c2520;

.black{ background-color: black; }
.white{ background-color: white; }
.red{ background-color: #ff0000; }
.blue{ background-color: #0000ff; }
.green{ background-color: #00ff00; }

.highlight_bg{ background-color: #{$highlight_color}; }
.highlight{ color: #{$highlight_color}; }