$body_min_width: 320px;

$header_bar_height: 50px;
$header_bar_padding_h: 20px;
$header_bar_padding_top: 10px;
$header_bar_padding_bottom: 10px;
$header_bar_decoration_1_height: 1px;
$header_bar_decoration_2_height: 3px;

$header_height: 90%;
$header_min_width: $body_min_width;
$header_min_height: 600px;

$logo_img_width: 300px;
$logo_img_height: 150px;

$footer_width: 100%;
$footer_height: 150px;

$scene_body_margin_x: 0px;
$scene_body_margin_y: 64px+$footer_height;