$header_bar_height: 30px;
$header_bar_padding_v: 5px;

$header_width: 300px;
$header_height: 225px;

$logo_img_width: 300px;
$logo_img_height: 150px;

$footer_width: $header_height;
$footer_height: 46px;

$scene_body_margin_x: 20px;
$scene_body_margin_y: 64px+$footer_height;