@font-face{
	font-family: 'CrimsonText';
	src: url('/fonts/crimson/CrimsonText-Roman.ttf');
}

@font-face{
	font-family: 'Forum';
	src: url('/fonts/forum/Forum-Regular.ttf');
}

@font-face{
	font-family: 'Fjord';
	src: url('/fonts/fjord/FjordOne-Regular.otf');
}

@font-face{
	font-family: 'Lato';
	src: url('/fonts/lato/Lato-Reg.ttf');
}

@font-face{
	font-family: 'LeagueGothic';
	src: url('/fonts/League-Gothic/LeagueGothic-Regular.otf');
}

@font-face{
	font-family: 'Oswald';
	src: url('/fonts/oswald/Oswald-Regular.otf');
}

@font-face{
	font-family: 'RobotoSlab';
	src: url('/fonts/roboto-slab/RobotoSlab-Regular.ttf');
}

@font-face{
	font-family: 'Rosario';
	src: url('/fonts/rosario/Rosario-Regular.otf');
}

@font-face{
	font-family: 'Stalemate';
	src: url('/fonts/stalemate.regular.ttf');
}

$title_font: 'Oswald';
$body_font: 'Lato';