/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import '_animation';
@import '_colors';
@import '_constants';
@import '_fonts';

a{
	color: #{$highlight_color};
	cursor: pointer;
	font-family: #{$title_font};
	text-decoration: none;
	text-transform: uppercase;
	&:hover{
		color: #{$highlight_color_dark};
	}		
}

div{
	border: 0px;
	cursor: default;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body{
	border: 0px;
	height: 100%;
	margin: 0px;
	min-width: #{$body_min_width};
	padding: 0px;
	width: 100%;
	
	::selection{
		background-color: #{$highlight_color};
		color: white;
	}
	::-moz-selection{
		background-color: #{$highlight_color};
		color: white;
	}
}

html{
	background-color: #{$base_color};
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
}

p,a,h1,h2,h3,h4,h5,h6,div,br,li,td,article{
  -o-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

h1{
	border: 0px;
	font-family: #{$title_font};
	font-size: 32px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}

h2{
	border: 0px;
	font-family: #{$title_font};
	font-size: 24px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}

h3{
	border: 0px;
	font-family: #{$title_font};
	font-size: 18px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}

img{
	border: 0px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input[type=submit]{
	cursor: pointer;
	background-color: #{$base_color};
	color: white;
	font-family: #{$title_font};
	text-transform: uppercase;
	border: 0px;
	padding: 5px 7px 5px 7px;

	&:hover{
		background-color: #{$highlight_color};
	}
}

label{
	font-family: #{$body_font};
}

p{
	border: 0px;
	font-family: #{$body_font};
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	text-align: justify;
	/* text-indent: 15px; */
}

span{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

table{
	border: 0px;
	margin: 0px;
	padding: 0px;
	td{
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	th{
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	tr{
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
}

.none{ display: none; }

.no_entries{
	font-family: #{$body_font};
	color: white;
	text-align: center;
	text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
	margin: -25px 0 55px 0;
}

.left{ float: left; }
.right{ float: right }
.bold{ font-weight: bold; }
.inline{ display: inline-block; }

.pointer{ cursor: pointer; }

.inline-block{ display: inline-block; }

.clearfix{
	display: inline-block;
}
.clearfix:after{
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button{
	border: #{$highlight_color} 1px solid;
	color: #{$highlight_color};
	padding: 5px 10px 5px 10px;

	&:hover{
		background-color: #{$highlight_color};
		border-color: white;
		color: white;
	}
}

$close_button_bar_width: 15px;
$close_button_bar_height: 2px;
.close_button{
	span{
		display: block;
		height: #{$close_button_bar_height};
		width: #{$close_button_bar_width};
		background: white;
	}

	span:nth-child(1) {
		margin: -7px 0 0 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	span:nth-child(2) {
		margin: #{-$close_button_bar_height} 0 0 0;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

.vee{
	color: white;
	padding: 15px;

	span{
		position: absolute;
		display: block;
		background: white;
		width: 15px;
		height: 2px;

		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .185s ease-in-out;
		-moz-transition: .175s ease-in-out;
		-o-transition: .175s ease-in-out;
		transition: .175s ease-in-out;
	}

	span:nth-child(1) {
		margin: -3px 0 0 -13px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	span:nth-child(2) {
		margin: -3px 0 0 -3px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

.buy_button{
	background-color: #{$base_color};
	border-color: #{$base_color};
	color: white;
}

.spacer{
	/*border-bottom: 1px solid #{$spacer_gray};*/
}

.title{
	font-family: #{$title_font};
}

.date{
	font-family: #{$body_font};
}

.navigation{
	a{
		font-size: 24px;
		font-weight: bold;
	}
}

.navigation_bar{
	border-bottom: #{$base_color} 3px solid;
	height: #{$header_bar_height};
	margin: 10px 0 0 0;

	a{
		color: #{$base_color};
		font-size: 28px;
		font-weight: bold;
		margin: 0 7px 0 7px;
	}
}

.navigation_bar_decoration_1{
	bottom: 0px;
	border-bottom: white 1px solid;
	width: 100%
}

.navigation_bar_decoration_2{
	bottom: 0px;
	border-bottom: #{$base_color} 5px solid;
	width: 100%;
}

#popups{
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

#blocker{
	background-color: #{$base_color};
	display: none;
	height: 100%;
	opacity: 0.75;
	position: fixed;
	width: 100%;
	z-index: 99;
}

#scene{
	color: #{$base_color};
	min-height: calc(100% -#{$header_height});
	min-height: -moz-calc(100% - #{$header_height});
	min-height: -webkit-calc(100% - #{$header_height});
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 5;
}

#scene_loader{
	display: none;
	text-align: center;
	width: 100%;
	height: 70%;

	.spinner{
		position: relative;
		width: 100%;
		top: 40%;
	}
}

#scene_body{
	background-color: white;
	display: inline-block;
	padding: 25px 0 60px 0;
	min-height: calc(100% -#{$header_height});
	min-height: -moz-calc(100% - #{$header_height});
	min-height: -webkit-calc(100% - #{$header_height});
	overflow: visible;
	width: calc(100% - #{$scene_body_margin_x});
	width: -moz-calc(100% - #{$scene_body_margin_x});
	width: -webkit-calc(100% - #{$scene_body_margin_x});
	text-align: left;
}

#subscribe{
	bottom: 0px;
	right: 0px;
	margin: 0px 10px 0px 10px;
	position: fixed;
	z-index: 10;
	img{
		height: 20px;
		width: 20px;
	}
}