@import '_animation';
@import '_colors';
@import '_constants';

#footer{
	bottom: 0px;
	font-weight: normal;
	height: #{$footer_height};
	padding: 5px 0 0 0;
	width: 100%;

	a{
		color: white;
		font-size: 13px;
		margin: 0px 10px 0px 10px;
		text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);;
	}

	.est{
		color: white;
	}
}