@import '_animation';
@import '_colors';
@import '_constants';
@import '_fonts';

$feed_post_min_width: 280px;
$feed_post_width: 32.75%;
$feed_list_padding_h: 0px;

.post_tag_cloud{
	padding: 20px 0 0px 0;
	text-align: center;

	.tag{
		background-color: #{$base_color};
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		margin: 1px;
		padding: 3px 10px 5px 10px;
		box-shadow: 2px 2px 10px #{$shadow_gray};

		.counter{
			font-size: 17spx;
			margin-left: 5px;
		}

		&:hover{
			background-color: #{$highlight_color};
			color: white;
		}
	}

	.selected{
		background-color: #{$medium_gray};
		margin: 0 5px 0 5px;

		.close_button{
			pointer-events: none;
			display: inline-block;
			margin: 0 -5px 0 8px;
		}
	}
}

.tags{
	display: inline-block;
	font-family: #{$title_font};
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	a{
		display: inline-block;
		color: #{$highlight_color};
		float: none;
		font-size: 13px;
		font-weight: normal;
		margin: 0px 5px 0px 5px;
	}
}

.post_actions{
	font-size: 14px;
	margin: 10px 0px 40px 0px;
	min-height: 20px;
	a{
		display: inline-block;
	}

	.button{
		cursor: pointer;
		height: 21px;

		&:hover{
			color: white;
			background-color: #{$highlight_color};
			border-color: #{$highlight_color};
		}
	}

	.buy_button{
		float: left;
		margin: 0 5px 0 0;
	}

	.icon_button{
		float: right;
		margin: 0 0 0 5px;
		text-align: left;		
		padding-right: 10px;

		color: white;
		border-color: #{$base_color};
	}

	.twitter_button{
		background: url(/icons/twitter.svg) no-repeat;
		background-position: left;
		background-size: auto 24px;
		background-repeat: no-repeat;
		background-position: 10px;
		padding-left: 39px;

		background-color: #{$dark_gray};
	}

	.facebook_button{
		background: url(/icons/facebook.svg) no-repeat;
		background-position: left;
		background-size: auto 23px;
		background-repeat: no-repeat;
		background-position: 8px;
		padding-left: 34px;

		background-color: #{$medium_gray};
		border-color: #{$medium_gray};
	}
}

#post_feed{
	padding: 10px 10px 25px 10px;
	margin: 30px 0 0 0;
	text-align: center;

	.more_posts{
		color: white;
		background-color: #{$base_color};
		font-size: 24px;
		width: 100%;
		border: 1px solid white;
		outline: 5px solid #{$base_color};
		margin: 30px 0 60px 0;
		padding: 30px 0 30px 0;
	 	box-shadow: 4px 4px 10px #{$shadow_gray};

		&:hover{
			background-color: #{$highlight_color};
			outline-color: #{$highlight_color};
		}
	}

	.feed_list{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
  	box-sizing: border-box;
  	padding: 0 #{$feed_list_padding_h} 0 #{$feed_list_padding_h};
  }

  .feed_post_spacer{
  	min-width: #{$feed_post_min_width};
		width: #{$feed_post_width};
  }

	.feed_post{
		background-color: white;
		display: inline-block;
		min-width: #{$feed_post_min_width};
		width: #{$feed_post_width};
		padding: 30px 20px 30px 20px;
		margin: 30px 0 30px 0;
	 	box-shadow: 2px 2px 10px #{$shadow_gray};

		.header{
			text-align: left;

			.icon{
				float: left;
				height: 64px;
				padding: 6px 12px 6px 0px;
			}
			.info_section{
				margin: 10px 0px 0px 0px;

				.link{
					cursor: pointer;
				}

				.info{
					color: #{$subtle_gray_dark};
					display: inline-block;
					min-width: 150px;
					img{
						float: left;
						height: 20px;
						width: 20px;
						margin: 0px 3px 0px 0px;

					}
					.text{
						cursor: inherit;
						float: left;
						font-family: #{$body_font};
						font-size: 13px;
						margin: 1px 0px 0px 0px;
					}
				}
			}
			.subtitle{
				color: #{$light_gray};
				font-size: 14px;
			}

			h2{
				a{
					color: #{$base_color};					
				}
			}
		}
		.body{
			/*
			overflow: hidden;
			max-height: 700px;
			*/
			text-align: center;
			margin: 20px 0px 30px 0px;

			.photo_gallery{
				cursor: pointer;
				width: 100%;
				margin: 25px 0 25px 0;

				img{
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 500px;
				}
			}

			.description{
			}

			p{
				cursor: pointer;
				color: #{$base_color};
				font-family: #{$body_font};
				font-size: 15px;
				text-transform: none;

				margin: 0 0 20px 0;
			}
		}
	}

	@media (max-width: #{$feed_post_min_width*3-$feed_list_padding_h*2+25}){
	  .feed_post{
	    width: 48%; 
	  }
	}

	@media (max-width: #{$feed_post_min_width*2-$feed_list_padding_h*2+25}){
		.feed_post{
			width: 100%;
		}
	}
}

#post_show{
	.placeholder{
		font-family: #{$body_font};
		text-align: center;
		top: 50%;
		vertical-align: center;
	}

	.post{
		background-color: white;
		padding: 30px 20px 60px 20px;

		.header{
			.icon{
				float: left;
				height: 64px;
				margin: 6px 12px 6px 0px;
			}
			.info_section{
				margin: 10px 0px 0px 0px;

				.link{
					cursor: pointer;
				}

				.info{
					color: #{$subtle_gray_dark};
					display: inline-block;
					min-width: 150px;
					img{
						float: left;
						height: 20px;
						width: 20px;
						margin: 0px 3px 0px 0px;

					}
					.text{
						cursor: inherit;
						float: left;
						font-family: #{$body_font};
						font-size: 15px;
						margin: 1px 0px 0px 0px;
					}
				}
			}
			.subtitle{
				color: #{$light_gray};
				font-size: 14px;
			}
		}
		.body{
			text-align: center;
			margin: 20px 0px 40px 0px;

			p{
				a{
					cursor: pointer;
					font-family: #{$body_font};
					font-size: 16px;
					text-transform: none;
				}
			}

			.summary{
				font-style: italic;
			}

			.photo_gallery{
				margin: 25px 0 25px 0;

				img{
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 500px;
				}
			}
		}
		.tags{
			margin: 40px 0 0px 0;

			a{
				font-size: 15px;
				margin: 0px 13px 0px 13px;
			}
		}
	}
}

.feed_related{
	margin: 60px 0 0 0;

	.list{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
  	box-sizing: border-box;
		margin: 30px 0 0 0;

		.related{
			display: inline-block;
			cursor: pointer;
			color: #{$base_color};
			width: 350px;
			max-height: 320px;
			margin: 5px 5px 20px 5px;
			padding: 20px 15px 30px 15px;
		 	box-shadow: 2px 2px 10px #{$shadow_gray};
			text-align: center;

			h3{
				margin: 0 0 15px 0;
			}

			img{
				width: auto;
				height: 230px;
				max-width: 100%;
			}
		}
	}
}

.navigation{
	margin: 20px 0 0 0;
	a{
		margin: 0px 25px 0px 0px;
	}
}