@import '_animation';
@import '_colors';
@import '_constants';
@import '_fonts';

$feed_post_min_width: 280px;
$feed_list_padding_h: 0px;

#post_feed{
	margin: 10px 0px 25px 0px;
	text-align: center;

	.more_posts{
		color: white;
		background-color: #{$base_color};
		border-color: #{$base_color};
		font-size: 24px;
		margin: 30px 0 60px 0;
		padding: 30px 0 30px 0;
		width: 100%;

		&:hover{
			background-color: #{$highlight_color};
			border-color: #{$highlight_color};
		}
	}

	.feed_list{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
  	justify-content: space-between;
  	padding: 0 #{$feed_list_padding_h} 0 #{$feed_list_padding_h};
  	box-sizing: border-box;
  }

	.feed_post{
		display: inline-block;
		min-width: #{$feed_post_min_width};
		width: 33.33%;
		padding: 30px 20px 30px 20px;

		.header{
			text-align: left;

			.icon{
				float: left;
				height: 64px;
				padding: 6px 12px 6px 0px;
			}
			.info_section{
				margin: 10px 0px 0px 0px;

				.link{
					cursor: pointer;
				}

				.info{
					color: #{$subtle_gray_dark};
					display: inline-block;
					min-width: 150px;
					img{
						float: left;
						height: 20px;
						width: 20px;
						margin: 0px 3px 0px 0px;

					}
					.text{
						cursor: inherit;
						float: left;
						font-family: 'Lato';
						font-size: 15px;
						margin: 1px 0px 0px 0px;
					}
				}
			}
			.subtitle{
				color: #{$light_gray};
				font-size: 14px;
			}

			h1{
				a{
					color: #{$base_color};					
				}
			}
		}
		.body{
			text-align: center;
			margin: 20px 0px 30px 0px;

			.photo_gallery{
				width: 100%;
				margin: 25px 0 25px 0;

				img{
					height: auto;
					width: auto;
					max-width: 100%;
					max-height: 500px;
				}
			}

			.description{
				overflow: hidden;
				height: 60px;
			}

			p{
				margin: 0 0 20px 0;

				a{
					cursor: pointer;
					color: #{$base_color};
					font-family: 'Lato';
					font-size: 16px;
					text-transform: none;
				}
			}
		}
		.actions{
			font-size: 14px;
			margin: 10px 0px 40px 0px;
			min-height: 20px;
			a{
				display: inline-block;
				float: left;
				margin: 0px 2px 0px 10px;
			}
		}
		.comment_count{
			color: #{$base_color};
		}
		.fb_comments_count_zero{
			display: none;
		}
		.share_container{
			display: none;
		}
		.tags{
			display: inline-block;
			font-family: 'Oswald';
			font-size: 14px;
			font-weight: normal;
			text-align: center;
			text-transform: uppercase;
			width: 100%;

			.tags_title{
				display: inline;
				margin: 0 10px 0 0;		
			}

			a{
				display: inline-block;
				color: #{$highlight_color};
				float: none;
				font-size: 13px;
				font-weight: normal;
				margin: 0px 5px 0px 5px;
			}
		}
	}

	@media (max-width: #{$feed_post_min_width*3-$feed_list_padding_h*2}){
	  .feed_post{
	    width: 50%; 
	  }
	}

	@media (max-width: #{$feed_post_min_width*2-$feed_list_padding_h*2}){
		.feed_post{
			width: 100%;
		}
	}
}

#post_index{
	.tag_cloud{
		margin: 10px 0 30px 0;
		text-align: center;

		.tag{
			background-color: #{$base_color};
			color: white;
			cursor: pointer;
			display: inline-block;
			font-size: 14px;
			margin: 1px;
			padding: 3px 10px 5px 10px;
			text-transform: uppercase;
			&:hover{
				background-color: #{$highlight_color};
				color: white;
			}
		}
	}

	.posts{
		margin: 30px 0px 30px 0px;
		text-align: center;

		.entry{
			border: 0px;
			cursor: pointer;
			display: inline-block;
			font-size: 14px;
			margin: 0px;
			padding: 3px 10px 5px 10px;
			text-transform: uppercase;
			&:hover{
				background-color: #{$highlight_color};
				color: white;
			}
			&:hover .date{
				color: white;
			}
			&:hover .title{
				color: white;
			}
		}
		.even{
			background-color: white;
			color: #{$base_color};
		}
		.tenth{
			background-color: #{$base_color};
			color: white;
		}
		.odd{
			background-color: #{$light_gray};
			color: #{$base_color};
		}
		.title{
			color: #{$highlight_color};
			cursor: inherit;
			font-size: 18px;
		}
		.date{
			cursor: inherit;
			font-size: 14px;
		}
	}
}

#post_show{
	.placeholder{
		font-family: 'Lato';
		text-align: center;
		top: 50%;
		vertical-align: center;
	}

	.post{
		padding: 30px 20px 60px 20px;

		.header{
			.icon{
				float: left;
				height: 64px;
				margin: 6px 12px 6px 0px;
			}
			.info_section{
				margin: 10px 0px 0px 0px;

				.link{
					cursor: pointer;
				}

				.info{
					color: #{$subtle_gray_dark};
					display: inline-block;
					min-width: 150px;
					img{
						float: left;
						height: 20px;
						width: 20px;
						margin: 0px 3px 0px 0px;

					}
					.text{
						cursor: inherit;
						float: left;
						font-family: 'Lato';
						font-size: 15px;
						margin: 1px 0px 0px 0px;
					}
				}
			}
			.subtitle{
				color: #{$light_gray};
				font-size: 14px;
			}
		}
		.body{
			text-align: center;
			margin: 20px 0px 40px 0px;

			p{
				margin: 0 0 20px 0;

				a{
					cursor: pointer;
					font-family: 'Lato';
					font-size: 16px;
					text-transform: none;
				}
			}

			.photo_gallery{
				margin: 25px 0 25px 0;

				.photo{
					width: auto;
					max-height: 500px;
				}
			}
		}
		.actions{
			font-size: 14px;
			margin: 10px 0px 40px 0px;
			min-height: 20px;
			a{
				display: inline-block;
				float: left;
				margin: 0px 2px 0px 10px;
			}
		}
		.comment_count{
			color: #{$base_color};
		}
		.fb_comments_count_zero{
			display: none;
		}
		.share_container{
			display: none;
		}
		.tags{
			display: inline-block;
			font-family: 'Oswald';
			font-size: 14px;
			font-weight: normal;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			margin: 40px 0 0px 0;

			.tags_title{
				display: inline;
				margin: 0 10px 0 0;		
			}

			a{
				display: inline-block;
				color: #{$highlight_color};
				float: none;
				font-size: 15px;
				font-weight: normal;
				margin: 0px 13px 0px 13px;
			}
		}

		img{
			width: 100%;
		}
	}
}

.navigation{
	margin: 20px 0 0 0;
	a{
		margin: 0px 25px 0px 0px;
	}
}


.share{
	background-color: white;
	/*box-shadow: 0px 0px 3px white;*/
	min-width: 280px;
	padding: 15px 15px 25px 15px;
	pointer-events: auto;
	position: fixed;
	width: 50%;
	a{
		margin: 0px 10px 0px 0px;
	}
	.share_close{
		background-color: #{$base_color};
		color: white;
		float: right;
		font-size: 20px;
		font-weight: 'Oswald';
		margin: -10px;
		padding: 5px;
	}
	.spacer{
		margin: 10px 0px 10px 0px;
	}
	.title{
		color: #{$base_color};
		display: inline-block;
		margin: 0px 10px 0px 0px;
	}
	.text{
		display: inline-block;
		font-family: 'Lato';
		font-size: 15px;
	}
}