// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index{
}

.show{
}

.user{
	margin: 20px 0px 20px 0px;
	min-height: 270px;
	.icon{
		float: left;
		max-height: 270px;
		max-width: 250px;
		margin: 0px 20px 0px 0px;

	}
	.info_section{
		margin: 10px 0px 0px 0px;
		.info{
			cursor: pointer;
			display: inline-block;
			margin: 0px 30px 0px 0px;
			img{
				float: left;
				height: 28px;
				width: 28px;
				margin: 0px 7px 0px 0px;
			}
			.text{
				cursor: inherit;
				float: left;
				font-size: 22px;
			}
		}
	}

	.body{
		padding: 15px 0px 20px 0px;
	}
}