-meta_title(@meta_title)
-meta_keywords(@meta_keywords)
-meta_description(@meta_description)

#about.info_section
  .content
    %h1.title
      About
    %p
      Built by hobbyists for hobbyists.
    
    %p
      The Pursuit of Hobbiness is a collection of guides, gear, and fun things required for hobbies.  It's maintained by Michael, an engineer who lives in the SF Bay Area.