#terms.info_section
  .content
    %h1.title
      TERMS
    %p
      All of the items listed on the site are things we want to buy.  We've been actually purchased a lot of them, so feel free to contact us at contact@pursuitofhobbiness.com if you have any questions about them.

    %p
      The Pursuit of Hobbiness is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to pursuitofhobbiness.com.