-meta_title(@meta_title)
-meta_keywords(@meta_keywords)
-meta_description(@meta_description)

#terms.info_section
  .content
    %h1.title
      Terms
    %p
      =site_name()
      =" is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to "
      =link_to(site_url(), "/")
      =". Please refer any questions to "
      =contact_email_link()