-meta_title(@meta_title)
-meta_keywords(@meta_keywords)
-meta_description(@meta_description)

#terms.info_section
  .content
    %h1.title
      Terms
    %p
      ="All of the items listed on the site are things that Michael would buy if he had the money.  He's actually bought a lot of them anyway, so feel free to contact him at "
      =contact_email_link()
      =" if you have any questions."

    %p
      =site_name()
      =" is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to "
      =site_url()
      ="."