:javascript
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Mobile Banner -->
  <ins class="adsbygoogle"
    style="display:inline-block;width:320px;height:50px;margin:0px 0px 50px 0px"
    data-ad-client="ca-pub-3983702891724205"
    data-ad-slot="7758857570">
  </ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>