.spacer
#footer
  .info
    ="COPYRIGHT © 2015 #{@meta_title}, LLC"

  .links
    =link_to('ABOUT', about_path, 'data-push'=>true)
    =link_to('CONTACT', contact_path, 'data-push'=>true)
    =link_to('PRIVACY', privacy_path, 'data-push'=>true)
    =link_to('TERMS', terms_path, 'data-push'=>true)