.spacer
#footer
  %span
    ="COPYRIGHT © 2015 #{@app_title}, LLC"

  =link_to('ABOUT', about_path, 'data-push'=>true)
  -if @primary_user
    =mail_to(@primary_user.email, 'CONTACT')
  / =link_to('PRIVACY', privacy_path, 'data-push'=>true)
  / =link_to('TERMS', terms_path, 'data-push'=>true)