#header
  .logo
    =link_to(root_path, 'data-push'=>true) do
      =image_tag("#{@asset_root}/avatars/mikey.png", :id=>'header_logo')
    #header_title.title
      -title=""
      -header.each_with_index do |comp, i|
        -title << (i%2 == 0 ? "<span class='highlight'>#{comp}</span>" : comp)
      =title.html_safe