#header_bar
  #header_search_bar
    %button.search_icon
    %input.search_field
  #header_bar_inner
    .links
      #header_nav_icon.left
        %span
        %span
        %span
      %span.title
        -title=""
        =@app_title_components.collect{ |i| i[0] }.join("").html_safe
      =render :partial=>'layouts/nav_links'
  .header_bar_decoration_1
  .header_bar_decoration_2
  #header_nav_menu
    #header_nav_menu_inner
      =render :partial=>'layouts/nav_links'
    .header_bar_decoration_1
    .header_bar_decoration_2