=link_to('features', root_path, 'data-push'=>true)
=link_to('gear', root_path, 'data-push'=>true)
=link_to('tech', root_path, 'data-push'=>true)
=link_to('gifts', root_path, 'data-push'=>true)
=link_to('archive', archive_path, 'data-push'=>true)