=ajax_link_to('features', root_path, :class=>'nav_button')
=ajax_link_to('guides', feed_path(:tag=>'guides'), :class=>'nav_button')
=ajax_link_to('gear', feed_path(:tag=>'gear'), :class=>'nav_button')
=ajax_link_to('tech', feed_path(:tag=>'tech'), :class=>'nav_button')
=ajax_link_to('gifts', feed_path(:tag=>'gifts'), :class=>'nav_button')
/ =ajax_link_to('archive', archive_path, :class=>'nav_button')