=link_to('features', root_path, 'data-push'=>true, :class=>'nav_button')
=link_to('guides', feed_path(:tag=>'guides'), 'data-push'=>true, :class=>'nav_button')
=link_to('gear', feed_path(:tag=>'gear'), 'data-push'=>true, :class=>'nav_button')
=link_to('tech', feed_path(:tag=>'tech'), 'data-push'=>true, :class=>'nav_button')
=link_to('gifts', feed_path(:tag=>'gifts'), 'data-push'=>true, :class=>'nav_button')
/ =link_to('archive', archive_path, 'data-push'=>true, :class=>'nav_button')