#subscribe
  =link_to image_tag("#{@asset_root}/icons/twitter.png"), "http://www.twitter.com"
  =link_to image_tag("#{@asset_root}/icons/facebook.png"), "http://www.facebook.com/pages/"
  =link_to image_tag("#{@asset_root}/icons/rss.png"), feed_path(:rss)