!!! html
%html
  %head
    %title
      =@app_title
    =stylesheet_link_tag "application", :async=>true, media:"all", "data-turbolinks-track"=>true
    =csrf_meta_tags
    %meta{ name: 'keywords', content: meta_keywords } 
    %meta{ name: 'description', content: meta_description }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %body
    -meta_description()
    -meta_keywords()
    #popups
    #blocker
    =render partial: 'layouts/header/header'
    #scene_loader
      =render partial: 'layouts/spinner'
    #scene{ style: "overflow:#{is_mobile_device? ? 'visible' : 'scroll'};"}
      #scene_content
        #scene_body
          =yield
        / =render partial: 'layouts/ads'
        =render partial: 'layouts/footer'
    =render partial: 'layouts/analytics'

  =javascript_include_tag "jquery", "data-turbolinks-track"=>true
  =javascript_include_tag "application", :async=>Rails.env.production?, "data-turbolinks-track"=>true